


/*   SLIDER PORTADA   ///////////////////////////////////////////////////////*/

.slider-portada-container{
    width:100%;
}

.slider-portada{
    width:100%;
    margin:auto;
    height:15cm;
    top:2cm;
    background-size: 100% 100%;
}
.s1{
    background-image: url(../../imagenes/slider-portada/s1.webp);
}
.s2{
    background-image: url(../../imagenes/slider-portada/s2.webp);
    display: none;
}
.s3{
    background-image: url(../../imagenes/slider-portada/s3.webp);
    display: none;
}


/*PAGINACION*/

.paginacion{
    right:0;
    left:0;
    text-align: center;
    position:absolute;
    margin-top:-1cm;
}

.paginacion>li{
    width:0.5cm;
    height: 0.5cm;
    margin-right:5px;
    border-radius: 35px;
    background:rgb(151, 151, 151);
    display: inline-block;
    position:relative;
    text-align: center;
    cursor:pointer;
}

/*FLECHAS*/

.flechas-slider{
    position: absolute;
    top:8cm;
    height: 15px;    
    z-index:2;
}
.flechas-slider>li>i{
    cursor: pointer;
}

.flechas-slider>li>i{
    color:rgb(255, 0, 0);
    border-radius: 35px;
    background:rgb(151, 151, 151);
    padding:15px;
}

.flecha-izquierda{
    left:2cm;
    z-index:2;
}
.flecha-derecha{
    right:2cm;
}




/*   TEXTO-PORTADA   //////////////////////////////////////////////////////////////*/


.texto-portada-container{
    width: 100%;
    height:5cm;
    position:absolute;
    top:6cm;
}


.texto-portada{
    width: 60%;
    height:5cm;
    background: rgba(0, 0, 0, 0.788);
    border: 2px solid black;
    border-radius: 15px;
    margin:auto;
    animation:containerPortada 2s;
}

@keyframes containerPortada{
    0%{
        left:0;
        opacity: 0;
    }
    50%{
        left:6cm;
        width: 334px;
    }
}


.texto-portada>li{
    width:80%;
    margin: auto;
}
.texto-portada>li>h1{
    margin-top:0.5cm;
    color:white;
    font-size: calc(1vw + 17px);
    animation:texto1 2s;
}
.texto-portada>li>p{
    margin-top:0.5cm;
    font-size: calc(1vw + 5px);
    color:white;
}
@keyframes texto1{
    0%{
        margin-top:-16px;
        opacity:0;
    }
    100%{
        margin-top: 0px;
        opacity:1;
    }

}

/*ICONOS*/

.iconos-portada{
    width: 50%;
    margin:auto;
    position: relative;
    margin-top:-1.5cm;
}
.iconos-portada>li{
    float:right;
     margin:0px 5px;
     position:relative;
     display:inline-block;
     transition: transform 1s;
}
.iconos-portada>li:hover{
    transform:scale(1.8)
}
.iconos-portada>li>a{
    text-decoration: none;
}
#facebook{
    padding:0px 5px;
}
.iconos-portada>li>a>i{
    font-size: 18px;
    padding:9px 4px;
    border-radius: 35px;
    height:0.5cm;
    width:0.8cm;
    line-height:18px;
    background: rgb(0, 0, 0);
    text-align:center;
    color:white;
}


/*   TEXTO-PRESENTACION   //////////////////////////////////////////////////////////////*/


.presentacion-container{
    padding-top:1cm;
    background: radial-gradient(transparent 70%, rgb(168, 23, 23)  70% 90%),url(../../imagenes/relleno/construccion-costos-1.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom:2cm;
}
.presentacion-container>h1{
    width:50%;
    margin:auto;
    font-size:calc(1vw + 30px);
    padding:10px;
    background:white;
    border-radius:35px;
    box-shadow: 10px 10px 15px black;
    text-shadow: 2px 2px 12px white;
    text-align: center;
}

.presentacion{
    margin-top:1cm;
    display:flex;
    justify-content: center;
    align-items: center;    
}

.presentacion>ul{
    margin: 20px;
    width:33%;
    margin:auto;
    margin:0px 20px;
    margin-top:0;
    height:8cm;
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    transition: 1s;
    opacity:0;
    border-radius: 35px;
    box-shadow:15px 10px 15px black;
    text-align:center;
}

.presentacion>ul>h1{
    font-size: calc(1vw + 9px);
    color:white;
    text-shadow: -2px -2px 15px black;
    position:absolute;
    top:20px;
    padding:20px;
}
.presentacion>ul>h1>i{
    margin-right:5px;
}
.presentacion>ul>p{
    padding:0px 20px;
    position:absolute;
    top:80px;
    color:white;
    font-size: calc(1vw + 7px);
}
.presentacion>ul>a{
    width:3cm;
    font-size: calc(1vw + 5px);
    border-radius: 35px;
    border:0.1px solid white;
    position: absolute;
    top:230px;
    padding:12px;
    background:rgba(0, 0, 0, 0.671);
    color:white;
    text-decoration: none;
    transition: transform 1s;
}
.presentacion>ul>a:hover{
    transform: scale(1.2);
}

.presentacion>ul>a>i{
    margin-right:10px;
    color:aquamarine
}


.presentacion>ul:nth-child(1){
    background:rgb(131, 131, 131);
}

.presentacion>ul:nth-child(2){
    background:rgb(190, 33, 33);

}
.presentacion>ul:nth-child(3){
    background:rgb(0, 0, 0);
}


/*ANIMACIONES*/

.added1{
    animation: aparecerIzq 2s;
    transition: all 1s;
}
@keyframes aparecerIzq {
    0%{
        transform:translateX(-190px);
    }
    100%{
        transform: translateX(0px);
    }
}


.added2{
    animation: aparecerArriba 2s;
    transition: all 1s;
}
@keyframes aparecerArriba{
    0%{
        transform: translateY(-190px);
    }
    100%{
        transform: translateY(0px);
    }

}

.added3{
    animation:aparecerDer 2s;
}
@keyframes aparecerDer{
    0%{
        transform: translateX(190px);
    }
    100%{
        transform: translateX(0px);
    }
}



/*   INFO2   //////////////////////////////////////////////////////////////*/



.info-2-container{
    width:100%;
    background: linear-gradient(20deg,rgba(240, 78, 78, 0.336) 30%,transparent 80%),url(../../imagenes/relleno/relleno1.webp);
    background-size: 100% 100%;
}
.info-2-container>div{
    background: rgba(0, 0, 0, 0.432);
    padding:1cm 0px;
}



/* titulo */

.info-titulo{
    text-align: center;
    padding:0px 10px;
    opacity:0;
}
.info-titulo>i{
    font-size: calc(1vw + 35px);
    color:aquamarine;
    padding-top: 1.5cm;
    padding-bottom: 0.5cm;
}
.info-titulo>p{
    color:white;
    font-size: calc(1vw + 11px);
}

/* secciones */
.info-2-container>div>div{
    margin-top: 2cm;
    display:flex;
    justify-content: center;
    align-content: center;
}

/* seccion izquierda */

.seccion-izquierda{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    opacity:0;
}
.seccion-izquierda>p{
    font-size: calc(1vw + 11px);
    color:white;
    text-align: center;
    padding: 1cm;
}
.seccion-izquierda>p>strong{
    color:aquamarine;
    font-size: calc(1vw + 15px);
}
.seccion-izquierda>a{
    text-align: center;
    text-decoration: none;
    font-size: calc(1vw + 9px);
    border-radius: 35px;
    color:white;
    background:rgba(0, 0, 0, 0.726);
    padding:10px;
    margin:0px 10px;
    cursor:pointer;
}
/* seccion derecha */

.seccion-derecha{
    width:50%;
    display:flex;
    justify-content: center;
    justify-items: center;
    opacity:0;
}
.seccion-derecha>iframe{
    width:80%;
    height:100%;
    border-radius:15px;
}

/*   INFO3   //////////////////////////////////////////////////////////////*/

.info3-super-container{
    margin-top: 2cm;
    background: linear-gradient(90deg,white 20%,rgb(179, 2, 2) 60%,rgba(255, 255, 255, 0.63)),url(../../imagenes/relleno/relleno5.webp);
    background-size: 100% 100%;
}
.info3-super-container>div{
    background:rgba(0, 0, 0, 0.678);
    padding: 2cm 0px;
    margin-top:-2cm;
    height:100%;
}

.info3-super-container>div>div{
    margin-top:0.5cm;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
}
.info3-super-container>div>div>ul>h1{
    color:black;
    text-shadow:2px 2px 12px white;
    font-size:calc(1vw + 15px);
}
.info3-super-container>div>div>ul>p{
    color:white;
    font-size:calc(1vw + 9px);
}
.info3-super-container>div>div>ul>img{
    border-radius: 100%;
    width:5cm;
    height:5cm;
    box-shadow:2px 2px 12px black;
}
.info3-img-container{
    padding:0px 20px;
}
.info3-text-container{
    padding:0px 10px;
}


/*   SLIDER   //////////////////////////////////////////////////////////////*/


.super-container-slider{
    top:2cm;
    position:relative;
    width:100%;
    height:12cm;
    background:linear-gradient(0deg,rgba(112, 0, 0, 0.76),white);
}

.slider{
    position:relative;
    top:-1cm;
    width:20cm;
    margin:auto;
    height:14cm;
    overflow: hidden;
    background:linear-gradient(0deg,rgba(112, 0, 0, 0.76),white);
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    box-shadow: 4px 0px 32px black;
    border-radius:15px;
}
.slider>ul{
    width:100cm;
    display:flex;
    overflow: hidden;
    animation: slider 25s infinite;
    animation-direction: alternate;
}
.slider>ul>li{
    margin:0px 1.2cm;
    width:20cm;
    height:8cm;
}
.slider>ul>li>img{
    width:100%;
    height:100%;
    border-radius: 35px;
    
}


@keyframes slider {
    0%{
        margin-left:0;
    }
    25%{
        margin-left:-20cm;
    }
    50%{
        margin-left: -40cm;
        
    }
    75%{
        margin-left: -60cm;
    }
    100%{
        margin-left: -80cm;
    }
}

/* titulo */
.trabajos{
    width:100%;
    margin:1cm 0px;
}
.trabajos>li{
    width:50%;
    margin:auto;
}
.trabajos>li>h1{
    text-align:center;
    color:white;
    font-size: calc(1vw + 19px);
    text-shadow: 2px 2px 2px black;
}

@media all and (max-width:800px){


    /*   SLIDER PORTADA   ///////////////////////////////////////////////////////*/

    .slider-portada-container{
        margin-top:56px;
    }

    .slider-portada{
        height:10cm;
    }

    /*   TEXTO-PORTADA   //////////////////////////////////////////////////////////////*/

    .texto-portada-container{
        top:4cm;
    }
    
    .texto-portada{
        width: 70%;
        height:5.5cm;
    }
    .texto-portada>li>h1{
        font-size: calc(1vw + 15px);
    }

    .texto-portada>li>p{
        font-size: calc(1vw + 10px);
    }
    
    /*FLECHAS*/

    .flechas-slider{
        top:10cm;
    }

    /*ICONOS*/

    .iconos-portada{
        width: 65%;
        margin:auto;
        float:none;
        margin-top: -1.3cm;
    }   
    .iconos-portada>li{
        margin:3px;
    }
    .iconos-portada>li>a>i{
        font-size: 20px;
        height:0.5cm;
        width:0.8cm;
        line-height:0.5cm;
    }

    #facebook{
        padding:0;
    }


    /*   TEXTO-PRESENTACION   //////////////////////////////////////////////////////////////*/
    .presentacion-container>h1{
        width:70%;
    }
    
    .presentacion-container{
        padding:10px;
    }
    .presentacion{
        flex-direction:column;
        margin-top:0.5cm;
    }
    .presentacion>ul{
        width:60%;
        margin:0.5cm 0px;
        height:7cm;
    }
    .presentacion>ul>a{
        top:190px;
        font-size: calc(1vw + 6px);
    }
    .presentacion>ul>h1{
        font-size: calc(1vw + 11px);
    }
    .presentacion>ul>p{
        font-size: calc(1vw + 10px);
    }
    
    /*   INFO2   //////////////////////////////////////////////////////////////*/

    .info-titulo>i{
        padding-top: 1cm;
    }
    /* secciones */

    .info-2-container>div>div{
        flex-direction:column;
        margin-top:0;
        
    }

    /* seccion izquierda */

    .seccion-izquierda{
        width:10cm;
        margin:auto;
    }

    /* seccion derecha */

    .seccion-derecha{
        width:10cm;
        margin:auto;
        padding:20px 0px;
    }

    /*   SLIDER   //////////////////////////////////////////////////////////////*/

    .super-container-slider{
        top:2cm;
        height:7cm;
    }
    .slider{
        width:8cm;
        height:9cm;
    }
    .slider>ul{
        width:40cm;
    }

    .slider>ul>li{
        margin:0px 0.5cm;
        width:8cm;
        height:5cm;
    }

    @keyframes slider {
        0%{
            margin-left:0;
        }
        25%{
            margin-left:-8cm;
        }
        50%{
            margin-left: -16cm;
            
        }
        75%{
            margin-left: -24cm;
        }
        100%{
            margin-left: -32cm;
        }
    }

    /* titulo */

    .trabajos{
        width:100%;
        margin:0.5cm 0px;
    }

}


@media all and (max-width:400px){


    /*   TEXTO-PORTADA   //////////////////////////////////////////////////////////////*/
    
    .texto-portada{
        height:6cm;
    }

    /*ICONOS*/

    .iconos-portada{
        margin-top:-1cm;
    }   

    .iconos-portada>li>a>i{
        font-size: 15px;
        height:0.3cm;
        width:0.5cm;
        line-height:0.3cm;
    }
    
    /*   TEXTO-PORTADA   //////////////////////////////////////////////////////////////*/


    .texto-portada-container{
        top:2cm;
    }

    /*   SLIDER PORTADA   ///////////////////////////////////////////////////////*/

    .slider-portada{
        
        height:8cm;
    }
    .flechas-slider{
        top:8.5cm;
    }
    .flechas-slider>li>i{
        padding:9px;
        font-size: calc(1vw + 7px);
    }

    .flecha-izquierda{
        left:1cm;
    }
    .flecha-derecha{
        right:1cm;
    }   

    /*   TEXTO-PRESENTACION   //////////////////////////////////////////////////////////////*/

    .presentacion-container{
        padding-top:1cm;
    }
    .presentacion-container>h1{
        width:90%;
        font-size:calc(1vw + 19px);
    }
    .presentacion{

    }
    .presentacion>ul{
        width:100%;
    }

    .presentacion>ul>a{
        top:210px;
    }

    .presentacion>ul>h1{
        font-size: calc(1vw + 13px);
    }
    .presentacion>ul>p{
        font-size: calc(1vw + 12px);
    }
    
    .presentacion>ul>a{
        font-size: calc(1vw + 12px);
    }

    /*   INFO2   //////////////////////////////////////////////////////////////*/
    
    .info-2-container{
        margin-top:0;
    }
    
    /* titulo */

    .info-titulo>p{
        font-size: calc(1vw + 15px);
    }

    /* seccion izquierda */

    .seccion-izquierda{
        width:100%;
    }
    .seccion-izquierda>p{
        font-size: calc(1vw + 15px);
    }
    .seccion-izquierda>p>strong{
        font-size: calc(1vw + 19px);
    }
    .seccion-izquierda>a{
        font-size: calc(1vw + 15px);
    }

    /* seccion derecha */

    .seccion-derecha{
        width:100%;
    }

    /*   INFO3   //////////////////////////////////////////////////////////////*/
    
    .info3-super-container>div>div{
        flex-direction:column;
        margin-top:0.5cm;
    }
    .info3-super-container>div>div>ul{
        text-align: center;
        margin:0.2cm 0px;
    }
    .info3-super-container>div>div>ul>h1{
        font-size:calc(1vw + 19px);
    }
    .info3-super-container>div>div>ul>p{
        font-size:calc(1vw + 12px);
    }


    /*   SLIDER   //////////////////////////////////////////////////////////////*/
    .super-container-slider{
        top:2cm;
        height:6cm;
    }
    .slider{
        width:5.5cm;
        height:8cm;
    }

    .slider>ul{
        width:27.5cm;
    }

    .slider>ul>li{
        padding-top:0.5cm;
        margin:0px 0.5cm;
        width:5.5cm;
        height:3.5cm;
    }

    @keyframes slider {
        0%{
            margin-left:0;
        }
        25%{
            margin-left:-5.5cm;
        }
        50%{
            margin-left: -11cm;
            
        }
        75%{
            margin-left: -16.5cm;
        }
        100%{
            margin-left: -22cm;
        }
    }
    
    /* titulo */

    .trabajos>li>h1{
        font-size: calc(1vw + 15px);
    }
}