@media screen and (max-width:800px){
    
    
    /*   MENU RESPONSIVE   ///////////////////////////////////////////////////////*/

    .menu-responsive{
        display:block;
        top:0;
        width:100%;
        position:fixed;
        background:red;
        padding:13px;
        z-index:10000;
    }
    .menu-responsive>h1>i{
        float:right;
        margin-right:1cm;
        font-size: calc(1vw + 27px);
        color:white;
    }
    .menu-responsive>h1{
        font-size: calc(1vw + 27px);
        color:white;
    }

    /*   MENU PRINCIPAL   ///////////////////////////////////////////////////////*/

    .menu-container{
        width:80%;
        left:-100%;
        top:59px;
        position:fixed;
        height:calc(100vh - 59px);
        overflow: scroll;
        background:red;
        z-index:10000;
    }

    .menu{
        width:100%;
        float:none;
        margin-top: 1cm;
        padding-left: 5px;
        box-shadow: none;
        display:block;
    }
    .menu>div>li{
        width:100%;
        margin-right: 0;
        margin-top:15px;
        padding-top:0;
        font-display: block;
        font-size: calc(1vw + 14px);
    }

    .menu>div>li:hover{
        background:rgb(250, 77, 77);
    }

    .menu>div>li>a{
        font-size: calc(1vw + 14px);
    }
        

    /* nombre de la empresa */
    .nom{
        width:100%;
        float:none;
        margin-top: 1cm;
        height:2cm;
    }

    .nom>li{
        width:70%;
        margin:auto;
        height:1.5cm;
    }
    .nom>li>h1{
        margin-top: 0.3cm;
    }


    /*   SUB-MENU   //////////////////////////////////////////////////////////////*/
    
    .sub-menu{
        width:100%;
        padding-top:0;
        position:relative;
        display: none;
        background:rgb(250, 77, 77);
        border-radius: 0;
    }

    .sub-menu>li>a{
        font-size: calc(1vw + 14px);
    }
    .menu>li:hover .sub-menu{
        display: none;
    }

    



    /*   FOOTER   //////////////////////////////////////////////////////////////*/   
    /*   INFORMACION-PIE-PAGINA   //////////////////////////////////////////////////////////////*/   

    .info-container{
        height:3.2cm;
        margin-top:-1.5cm;
    }
    .info-container>ul{
        margin-left: 3px;
        margin-right:3px;
    }
    .info-container>ul>li{
        font-size: calc( 1vw + 7px);
    }
    .info-container>ul>h1{
        font-size: calc( 1vw + 9px);
    }

    #facebook-footer{
        padding:5px 7px;
    }


    /*   FOOTER NEGRO  //////////////////////////////////////////////////////////////*/
    

    
    .menu-footer>li>a{
        color:white;
        font-size: calc(1vw + 9px);
        text-align:center;
    }
    .empresa>p{
        color:white;
        font-size: calc(1vw + 9px);
        text-align: center;
    }


}






@media all and (max-width:630px){


    footer{
        margin-top:9cm;
    }
    /*   INFORMACION-PIE-PAGINA   //////////////////////////////////////////////////////////////*/

    .info-container{
        height:7cm;
        display: block;
        margin-top:-4cm;
    }
    .info-container>ul{
        height: 1.4cm;
        width:80%;
        margin:auto;
    }
    .info-container>ul>li{
        right:0;
        left:0;
        text-align: center;
        font-size: calc( 1vw + 10px);
    }
    .info-container>ul>h1{
        right:0;
        left:0;
        text-align: center;
        font-size: calc( 1vw + 12px);
    }
    .redes-sociales{
        right:0;
        left:0;
        text-align: center;
    }
    .redes-sociales>h1{
        padding-top:15px;
    }    

}








@media all and (max-width:400px){

    
    /*   FOOTER   //////////////////////////////////////////////////////////////*/
    

    .info-container{
        margin-top:-3.5cm;
    }
    
    .footer-container{
        flex-direction:column;
        align-items: center;
    }
    
    
    .footer-container>ul{
        width:90%;
    }
    .menu-footer>li>a{
        font-size: calc(1vw + 13px);
    }
    .empresa>p{
        font-size: calc(1vw + 11px);
    }
    
    /*   FINAL DE PAGINA   //////////////////////////////////////////////////////////////*/
    
    .bottom>p{
        font-size:calc(1vw + 9px);
    }

}