
@media all and (max-width:800px){


    /*   SLIDER PORTADA   ///////////////////////////////////////////////////////*/

    .slider-portada-container{
        position:absolute;
        top:1.5cm;
    }

    .slider-portada{
        height:10cm;
    }

    /*   TEXTO-PORTADA   //////////////////////////////////////////////////////////////*/

    .texto-portada-container{
        top:2cm;
    }
    
    .texto-portada{
        width: 70%;
        height:5.5cm;
    }
    .texto-portada>li>h1{
        font-size: calc(1vw + 15px);
    }

    .texto-portada>li>p{
        font-size: calc(1vw + 10px);
    }

    /*ICONOS*/

    .iconos-portada{
        width: 65%;
        margin:auto;
        float:none;
        margin-top: -1.2cm;
    }   
    .iconos-portada>li{
        float:right;
        margin:3px;
    }
    .iconos-portada>li>a>i{
        padding:5px 1px;
    }

    #facebook{
        padding:0;
    }


    /*   SECTION   //////////////////////////////////////////////////////////////*/

    /*   TEXTO-PRESENTACION   //////////////////////////////////////////////////////////////*/
    
    .presentacion{
        margin-top:12cm;
        height:10cm;
    }

    .presentacion>div{
        width:90%;
    }
    .presentacion>div>ul>li>button{
        margin-top: 80px;
        font-size: calc(1vw + 6px);
        width:80%;
    }

    .presentacion>div>ul>li>h1{
        font-size: calc(1vw + 11px);
    }
    .presentacion>div>ul>li>p{
        font-size: calc(1vw + 10px);
    }
    
    /*   INFO2   //////////////////////////////////////////////////////////////*/

    .info-titulo>i{
        padding-top: 1cm;
    }

    /* secciones */
    .info-2-secciones{
        float:none;
        margin-top: 0.5cm;
    }

    /* seccion izquierda */

    .seccion-izquierda{
        width:100%;
    }

    /* seccion derecha */

    .seccion-derecha{
        width:100%;
    }



    /*   SLIDER   //////////////////////////////////////////////////////////////*/
    .super-container-slider{
        top:2cm;
        height:7cm;
    }
    .slider{
        width:8cm;
        height:9cm;
    }
    .slider>ul{
        width:40cm;
    }

    .slider>ul>li{
        margin:0px 0.5cm;
        width:8cm;
        height:5cm;
    }

    @keyframes slider {
        0%{
            margin-left:0;
        }
        25%{
            margin-left:-8cm;
        }
        50%{
            margin-left: -16cm;
            
        }
        75%{
            margin-left: -24cm;
        }
        100%{
            margin-left: -32cm;
        }
    }
    /* titulo */

    .trabajos{
        width:100%;
        margin:0.5cm 0px;
    }

}


@media all and (max-width:400px){


    /*ICONOS*/

    .iconos-portada{
        width: 65%;
        margin:auto;
        float:none;
        margin-top: -1cm;
    }   
    .iconos-portada>li{
        float:right;
        margin:3px;
    }
    .iconos-portada>li>a>i{
        padding:4px 0px;
        height: 18px;
        width: 25px;
        
    }

    #facebook{
        padding:0;
    }   
    
    /*   SLIDER PORTADA   ///////////////////////////////////////////////////////*/

    .slider-portada{
        margin-top:1cm;
        height:8cm;
    }
    .flechas-slider>li>i{
        padding:9px;
        font-size: calc(1vw + 7px);
    }

    .flecha-izquierda{
        left:1cm;
    }
    .flecha-derecha{
        right:1cm;
    }   
    /*   TEXTO-PORTADA   //////////////////////////////////////////////////////////////*/


    .texto-portada-container{
        top:3cm;
    }





    /*   SECTION   //////////////////////////////////////////////////////////////*/

    /*   TEXTO-PRESENTACION   //////////////////////////////////////////////////////////////*/
    
    .presentacion{
        width:100%;
        height:19.5cm;
        margin-top:11cm;
    }
    .presentacion>div>ul{
        display:block;
        float:none;
        width:100%;
        height:30%;
        padding:1px;
    }

    .presentacion>div>ul>li>h1{
        height:10px;
        margin-bottom:20px;
        font-size: calc(1vw + 13px);
    }
    .presentacion>div>ul>li>p{
        height:2cm;
        font-size: calc(1vw + 12px);
    }
    
    .presentacion>div>ul>li>button{
        margin-top: 29px;
        font-size: calc(1vw + 12px);
    }

    /*   INFO2   //////////////////////////////////////////////////////////////*/
    
    .info-2-container{
        height: 20cm;
        margin-top:0;
    }
    .info-2-container>div{
        height:20cm;
    }
    
    /* titulo */

    .info-titulo>p{
        font-size: calc(1vw + 15px);
    }

    /* seccion izquierda */
    .seccion-izquierda>p{
        font-size: calc(1vw + 15px);
    }
    .seccion-izquierda>p>strong{
        font-size: calc(1vw + 19px);
    }
    .seccion-izquierda>a{
        font-size: calc(1vw + 15px);
    }

    /*   INFO3   //////////////////////////////////////////////////////////////*/
    
    .info3-super-container>div>div{
        flex-direction:column;
        margin-top:0.5cm;
    }
    .info3-super-container>div>div>ul{
        text-align: center;
        margin:0.2cm 0px;
    }
    .info3-super-container>div>div>ul>h1{
        font-size:calc(1vw + 19px);
    }
    .info3-super-container>div>div>ul>p{
        font-size:calc(1vw + 12px);
    }


    /*   SLIDER   //////////////////////////////////////////////////////////////*/
    .super-container-slider{
        top:2cm;
        height:6cm;
    }
    .slider{
        width:5.5cm;
        height:8cm;
    }

    .slider>ul{
        width:27.5cm;
    }

    .slider>ul>li{
        padding-top:0.5cm;
        margin:0px 0.5cm;
        width:5.5cm;
        height:3.5cm;
    }

    @keyframes slider {
        0%{
            margin-left:0;
        }
        25%{
            margin-left:-5.5cm;
        }
        50%{
            margin-left: -11cm;
            
        }
        75%{
            margin-left: -16.5cm;
        }
        100%{
            margin-left: -22cm;
        }
    }
    
    
    

    /* titulo */

    .trabajos>li>h1{
        font-size: calc(1vw + 15px);
    }


}