@media all and (max-width:800px){


    /*   PORTADA   //////////////////////////////////////////////////////////////*/

    .portada-servicios{
        margin-top:2cm;
        padding:1cm 0px;
        padding-bottom:2cm;
    }

    /*   CUERPO   //////////////////////////////////////////////////////////////*/

    /* tituo y introduccion */
    .cuerpo-container{
        margin-bottom:-4cm;
    }
    .cuerpo-container>h1{
        font-size: calc(1vw + 25px);
        background:rgba(1, 1, 112, 0.562);
        padding-top:2cm;
    }
    .cuerpo-container>div{
        width:80%;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .cuerpo-container>div>img{
        width:5cm;
        height:3cm;
        padding-right:0;
        padding-bottom:10px;
        float:none;
    }
    .cuerpo-container>div>p{
        font-size: calc(1vw + 10px);
        margin-bottom:1cm;
    }

    /* trabajos */
    .cuerpo-container>ul{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:80%;
        margin:auto;
        margin-top:1cm;
    }
    .cuerpo-container>ul>img{
        width:6cm;
        height:4cm;
    }
    .cuerpo-container>ul>div>h1{
        font-size:calc(1vw + 15px);
    }
    .cuerpo-container>ul>div>p{
        font-size:calc(1vw + 11px);
    }

}

@media all and (max-width:400px){


    /*   PORTADA   //////////////////////////////////////////////////////////////*/

    .portada-servicios>h1{
        font-size: calc(1vw + 20px);
    }
    .portada-servicios>p{
        font-size: calc(1vw + 12px);
        padding:0px 15px;
        padding-top:15px;
    }
    .portada-servicios>i{
        font-size:calc(1vw + 13px);
        
    }

    /*   CUERPO   //////////////////////////////////////////////////////////////*/

    /* tituo y introduccion */

    .cuerpo-container>h1{
        font-size: calc(1vw + 15px);
        width:70%;
        padding-top:1.5cm;
    }
    .cuerpo-container>div>p{
        text-align: center;
    }
    
    /* trabajos */

    .cuerpo-container>ul>img{
        width:5cm;
        height:3cm;
    }


}